@import 'variables';
.label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .label-background{
     @include flex(column,center,center)
  }
  .label-icon {
    font-size: 10rem;
    opacity: 0.2;
  }
  .label-text{
      font-size: 1.3rem;
      opacity: 0.3;
  }