// @import "variables";

// .login {
//   // position: fixed;
//   // top: 0;
//   // left: 0;
//   // width: 100%;
//   // height: 100%;
//   // background-color: #ffffff;
//   // z-index: 2000;
// }

// .Login-div {
//   padding: 2rem;
//   text-align: start;
//   h2 {

//     font-size: 2rem;
//   }
  p {
    text-align: end;
    padding-top: 0.2rem;
    color: #5da0e2;
  }
//   .login-btn {
//     margin: 1rem 0;
//     padding: 1rem;
//     width: 100%;
//     border-radius: 0.7rem;
//     border: none;
//     background-color: #0067fe;
//     color: #cde4ff;
//     font-size: 1.2rem;
//   }
  .Or {
    text-align: center;
    color: #8dafdb;
    font-size: 0.8rem;
  }
// }
// .login-input {
//   display: flex;
//   flex-direction: column;
// }
// input:focus {
//   outline: none;
// }
// }
// small {
//   display: block;
//   text-align: center;
//   padding-top: 0.9rem;
//   font-size: 1.2rem;
//   color: #666869;
//   a {
//     text-decoration: none;
//     color: #5da0e2;
//   }
// }
@import "variables";
.image {
  display: none;
}
.Login-withGoogle {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.7rem;
  border: none;
  padding: 0.6rem;
  align-items: center;
  gap: 3.5rem;
  color: rgb(90, 88, 88);
  background-color: #f0f5f6;
  .google {
    font-size: 1.8rem;
  }
}

.sign-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  //   z-index: 3000;
}

.Login-div {
  padding: 2rem;
  text-align: start;
  h2 {
    font-size: 2rem;
    color: black;
  }
  .login-btn {
    margin: 1rem 0;
    padding: 0.7rem;
    width: 100%;
    border-radius: 0.7rem;
    border: none;
    background-color: #f3d573;
    color: white;
    font-size: 1.2rem;
  }
}
.login-input {
  display: flex;
  flex-direction: column;
}
input {
  padding: 0.6rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border: 0.16rem solid #f4f5f6;
}
input:focus {
  outline: none;
}

small {
  display: block;
  text-align: center;
  padding-top: 0.9rem;
  font-size: 1rem;
  color: #666869;
  a {
    text-decoration: none;
    color: #5da0e2;
  }
}
@media screen and (min-width: 640px) {

 .login{
  @include flex-container(center,center);
  min-height: 100vh;
  width: 100%;
  margin:0 auto;
  .image{
    display: flex;
    width: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .Login-div{
    width: 50%;
  }
  
  .login-card{
    display: flex;
    width: 900px;
    border: 0.2rem solid #f4f5f6;
    border-radius: 0.9rem;
    
  }
 }
}
