@import "variables";

.Notes {
  @include flex(row, center, center);
  margin-top: 2rem;
  .input {
    z-index: 0;
    display: flex;
    position: relative;
    input {
      padding: 0.8rem 0.8rem 0.8rem 0.8rem;
      border-radius: 0.5rem;
      width: 42rem;
      font-size: 1rem;
      border: 1px solid $primary-color;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    input:focus {
      outline: none;
      box-shadow: 1px 0.6px 0.2px rgba(100, 98, 98, 0.24);
    }
    .input-icons {
      position: absolute;
      left: 86%;
      top: 35%;
      font-size: 1.3rem;
      gap: 1rem;
      display: flex;
      color: #818283;
    }
  }
  .Take-notes {
    border: 1px solid $primary-color;
    width: 42rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    transform: translateY(-3.7rem);
    z-index: 10;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    input {
      font-size: 1rem;
      display: block;
      width: 40rem;
      border: none;
    }
    input:focus {
      outline: none;
    }
    .pin {
      @include flex(row, space-between, center);
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
    .btn {
      border: none;
      background: none;
      font-size: 1.3rem;
      color: #818283;
    }
    .icons {
      @include flex(row, space-between, center);
      padding: 0 0.6rem;
      margin-top: 0.5rem;
    }
    .close-btn {
      background: none;
      border: none;
      font-size: 1.2rem;
      padding: 0.4rem 0.7rem;
      color: #818283;
    }
    .close-btn:hover {
      background-color: $primary-color;
    }
    .buttons {
      display: flex;
      gap: 1rem;
      .image {
        display: block;
      }
    }
  }
}
  .Take-Notes {
    border: 1px solid $primary-color;
    width: 42rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s ease;
    margin-top: 1rem;
    z-index: 10;
    background-color: white;
    
    // input {
    //   font-size: 1.2rem;
    //   display: block;
    //   width: 40rem;
    //   border: none;
    // }
    // input:focus {
    //   outline: none;
    // }
    .pin {
      @include flex(row, space-between, center);
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }

    .btn {
      border: none;
      background: none;
      font-size: 1.3rem;
      color: #818283;
      .delete {
        position: relative;
      }
    }
    .icons {
      @include flex(row, space-between, center);
      opacity: 0;
      transition: 0.2s ease-out;
      margin-top: 1.3rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      .image {
        display: block;
      }
    }

    .bspin {
      opacity: 0;
      font-size: 1.4rem;
      transition: 0.5s ease-out;
    }
    .Delete {
      background-color: rgba(255, 255, 255, 0.993);
      border: 1px solid $primary-color;
      width: 8rem;
      height: 5rem;
      position: absolute;
      // right: 1rem;
      // top: 5rem;
      font-size: 1rem;
      text-align: center;
      border-radius: 0.4rem;
      font-family: Roboto;
      font-weight: 600;
      padding-left: 0;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 1rem;
      list-style: none;

      button {
        margin: 0.5rem 0;
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 400;
        font-family: Roboto;
        padding: 0.2rem;
      }
      button:hover {
        background-color: $primary-color;
      }
    }
  }

.Take-Notes:hover{
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Take-Notes:hover .icons,
.Take-Notes:hover .bspin{
  opacity: 1;
}

.Take-Notes.active{
width: 12rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
.icons{
  margin-top: 3rem;
}

}
