@import "variables";

.SideBar-Container {
  width: 5rem;
  height: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
//   transition: 0.3s ease-out;
  .sideBar-icons {
    min-height: 100%;
    padding-top: 1rem;
    display: flex;
  }
  .icons-container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .btn{
    text-decoration: none;
  }
 span {
    display: none;
  }
  .icons {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.7rem;
    height: 3rem;
    padding: 0.1rem 0.1rem;
    gap: 4rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  .icons.active{
background-color: $primary-color2;
  }
  .icons.icons.active:hover{
    background-color: $primary-color2;
  }
  .icon {
    color: #5e6368;
    position: relative;
    left: 0.7rem;
  }
  //   .icon-active.active{
  //     margin-left:2rem ;
  //     height: 3rem;
  //     width: 3rem;
  //     border-radius: 50%;
  //     background-color: $primary-color2;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  // }
  .icons:hover {
    gap: 4rem;
    width: 17.5rem;
    border-radius: 0 100px 100px 0;
    background-color: $primary-color;
    .icons-container{
        background-color: $primary-color2;
    }
   span {
      display: flex;
      font-size: 1rem;
      color: #5e6368;
      padding-right: 7rem;
    }
  }
}
.SideBar-Container:hover {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}
