@import "variables";

.SideBar-Container {
  height: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
  transition: 0.3s ease-out;
  .sideBar-icons {
    min-height: 100%;
    padding-top: 1rem;
    display: flex;
  }
  .icons-container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .btn{
    text-decoration: none;
  }
  span {
    display: none;
  }
  .icons {
    transition: 0.06s ease;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.7rem;
    padding: 0.1rem 0.1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons.active{
background-color: $primary-color2;
  }
  .icons.icons.active:hover{
    background-color: $primary-color2;
  }
  .icon {
    color: #5e6368;
    position: relative;
    left: 0.7rem;
  }
  
  .icons:hover {
    width: 17.7rem;
    border-radius: 0 100px 100px 0;
    background-color: $primary-color;
    .icons-container{
        background-color: $primary-color2;
    }
   span {
      display: flex;
      font-size: 1rem;
      color: #5e6368;
      padding-right: 7rem;
    }
  }
}
.SideBar-Container:hover {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}

@media screen and (max-width:640px){
  .SideBar-Container{
    position: fixed;
    bottom: 0;
    top: 90%;
    height: unset;
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.705);
    width: 100%;
   .sideBar-icons{
    min-height: unset;
   padding-top: 0.4rem;
   }
    .icons-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      justify-content: space-between;
    }
    
    .icons:hover{
      width: 3rem;
      border-radius: 50%;
      span{
        display: none;
      }
    }
  }
  .SideBar-Container:hover{
    width: 100%;
  }
}
