@import "variables";

.SideBar-Container {
  width: 5rem;
  height: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
  transition: 0.3s ease-out;
  .icons-container {
    gap: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .btn {
    text-decoration: none;
      h6 {
          display: none;
        }
        background: none;
        border: none;
        .icons{
        font-size: 1.7rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    
    .icon {
      padding-left: 2rem;
      position: relative;
      top: 0.1rem;
      color: #5e6368;
    }
  }
  .icon-active.active{
    margin-left:2rem ;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: $primary-color2;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .icons:hover {
    width: 17.5rem;
    border-radius: 0 100px 100px 0;
    background-color: $primary-color;
    transition: 0.6s ease-out;
    h6 {
      display: flex;
      font-size: 1rem;
      color:#5e6368;
    }
  }
}
.SideBar-Container:hover {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}
