@import "variables";

.sign-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
//   z-index: 3000;
}
.image {
  width: 100%;
}
img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
.Login-div {
  padding: 2rem;
  text-align: start;
  h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: black;
  }
  .login-btn {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    border-radius: 0.7rem;
    border: none;
    background-color: #eebd42;
    color: white;
    font-size: 1.2rem;
  }
  
}
.login-input {
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  padding: 1rem;
  font-size: 1.1rem;
  border-bottom: 0.1rem solid #f4f5f6;
}
input:focus {
  outline: none;
}


small {
  display: block;
  text-align: center;
  padding-top: 0.9rem;
  font-size: 1rem;
  color: #666869;
  a {
    text-decoration: none;
    color: #5da0e2;
  }
}
@media screen and (min-width:640px){

    .sign-in{
      @include flex-container(center,center);
    }
    .sign-container{
        display: flex;
        border-radius: 1rem;
        background-color: rgb(250, 247, 247);
        width: 800px;
        height: 700px;
    }
    .image{
        height: 100%;
        width: 50%;
       img{
        height: 100%;
        object-fit: cover;
       }
    }

    .Login-div{
        height: 100%;
        width: 50%;
        text-align: center;
        margin-top: 8rem;
       form{
         width: 100%;
        }
    }
}
