@import "variables";

// .sign-in {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #ffffff;
// //   z-index: 3000;
// }


// .Login-div {
//   padding: 2rem;
//   text-align: start;
//   h2 {
//     font-size: 2rem;
//     color: black;
//   }
//   .login-btn {
//     margin: 1rem 0;
//     padding: 1rem;
//     width: 100%;
//     border-radius: 0.7rem;
//     border: none;
//     background-color: #ee6a42;
//     color: white;
//     font-size: 1.2rem;
//   }
  
// }
// .login-input {
//   display: flex;
//   flex-direction: column;
// }
// input {
//   padding: 0.6rem;
//   border-radius: 0.3rem;
//   font-size: 1rem;
//   border: 0.16rem solid #f4f5f6;
// }
// input:focus {
//   outline: none;
// }


// small {
//   display: block;
//   text-align: center;
//   padding-top: 0.9rem;
//   font-size: 1rem;
//   color: #666869;
//   a {
//     text-decoration: none;
//     color: #5da0e2;
//   }
// }
// @media screen and (min-width:640px){

//     .sign-in{
//       @include flex-container(center,center);
//     }
//     .sign-container{
//         display: flex;
//         border-radius: 1rem;
//         background-color: rgb(250, 247, 247);
//         width: 800px;
//         height: 700px;
//     }
//     .image{
//         height: 100%;
//         width: 50%;
//        img{
//         height: 100%;
//         object-fit: cover;
//        }
//     }

//     .Login-div{
//         height: 100%;
//         width: 50%;
//         text-align: center;
//         margin-top: 8rem;
//        form{
//          width: 100%;
//         }
//     }
// }
.sign-container{
  margin-top: 6rem;
}
.h5{
  margin-bottom: 2rem;
}
.input-here{
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  border: 0.16rem solid #f4f5f6;
}
.login-btn{
  font-size: 1rem;
}
@media screen and (min-width: 640px) {
  .sign-in{
    @include flex-container(center,center);
    min-height: 100vh;
    width: 100%;
    margin:0 auto;
    .img{
      display: flex;
      width: 50%;
      .image-here{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .sign-container{
    width: 900px;
    display: flex;
    border: 0.2rem solid #f4f5f6;
    border-radius: 0.9rem;
  }
}